{% extends 'layout/dashboard-base.html' %}
{% set active_page = "addgloves" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">{{ page_title }}</h2>
</div>
<div id="add-case" aria-labelledby="add-case">
    <form id="gloves-form" class="container-fluid" method="post" action="{{ url_for('insert_skin', skin='case') }}" validate>
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <label for="name" class="label">Case Name</label>
            <input type="text" placeholder="Case Name" class="form-control bg-dark text-white rounded-0 mb-3"
                name="name" minlength="10" maxlength="35" required>
            <label for="case_description" class="label">Case Name</label>
            <input type="text" placeholder="Case Description" class="form-control bg-dark text-white rounded-0 mb-3"
                name="case_description" minlength="20" maxlength="100" required>
            <div class="d-flex mb-3">
                <span class="input-group-text w-50 overflow-auto"
                id="steamimageurl">https://community.cloudflare.steamstatic.com/economy/image/</span>
              <input class="form-control bg-dark text-white"
                placeholder="Image Url" name="image" id="image" type="text"
                aria-describedby="steamimageurl" required>
            </div>
            <label for="release-date" class="label">Case Release Date (Click)</label>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><i class="fas fa-calendar-alt"></i></span>
                <input class="form-select" role="button" id="release-date" placeholder="Pick A Date"
                    name="release-date" required>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 text-center">
            <button type="submit" class="btn btn-orange p-5 h-75 mt-4">
                <i class="far fa-plus-square fs-4 align-middle"></i> Add Case
            </button>
        </div>
    </div>
    </form>
</div>
{% endblock %}