{% extends "layout/base.html" %}
{% block pagetitle %}
    <h2>{{ page_title }}</h2>
{% endblock %}
{% block content %}
    <div class="row bg-dark p-3">
        <p class="fs-3">This is a CSGO Skin website where you can search for the skins you like and dislike and then press either button to like or dislike. Now you can see which are the most popular skins. There will be future developments made to add new features and to make the experience better.</p>
        <a class="btn btn-secondary p-5 mx-auto w-50" href="#" role="button">Contact Me</a>
    </div>  
{% endblock %}