{% extends "layout/base.html" %}
{% block pagetitle %}
    <h2>Welcome {{ username }}</h2>
{% endblock %}
{% block content %}
    <div class="container">
      <a href="#" type="button" class="btn btn-dark mt-2 mb-2 p-3 float-end">
        Request to be an admin
      </button>
    </div>
    <div class="container bg-dark mb-5">
        <h4 class="text-center p-3">Liked Skins</h2>
        <h4 class="text-center p-3">You have no liked skins.</h4>

    </div>
    <div class="container bg-dark">
        <h4 class="text-center p-3">Disiked Skins</h2>
        <h4 class="text-center p-3">You have no disliked skins.</h4>
    </div>
{% endblock %}