{% extends "layout/base.html" %}
{% set active_page = "contact" %}
{% block pagetitle %}
<h2>{{ page_title }}</h2>
{% endblock %}

{% block content %}
<div class="row bg-dark p-3">
    <h4 id="success-msg" class="bg-success p-3 text-center d-none">Your message has been sent sucessfully</h4>
    <div class="col-lg-8 col-md-10 mx-auto">
        <p class="bg-secondary p-3">Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as
            possible!</p>
        <form name="sentMessage" id="contactForm">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label for="fname" class="label">First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" id="fname" name="fname" pattern="[A-Za-z]{1,32}" required>
                </div>
            </div>
            <div class="control-group mb-4 mt-4">
                <div class="form-group floating-label-form-group controls">
                    <label for="lname" class="label">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" id="lname" name="lname" pattern="[A-Za-z]{1,32}" required>
                </div>
            </div>
            <div class="control-group mb-4 mt-4">
                <div class="form-group floating-label-form-group controls">
                    <label for="email" class="label">Email Address</label>
                    <input type="email" class="form-control" placeholder="Email Address" id="email" name="email" required>
                </div>
            </div>
            <div class="form-group floating-label-form-group controls">
                <label for="reason" class="label">Contact Reason</label>
                <select class="form-select mb-4 mt-4" id="reason" name="reason" required>
                    <option value="">Contact Reason</option>
                    <option value="collaborate">Collaborate</option>
                    <option value="bug">Bug/Glitch found</option>
                    <option value="admin">Become An Admin</option>
                    <option value="login">Login Issues</option>
                </select>
            </div>
            <div class="control-group mb-4 mt-4">
                <div class="form-group floating-label-form-group controls">
                    <label for="message" class="label">Message</label>
                    <textarea rows="5" class="form-control" placeholder="Message" id="message" name="message" minlength="20" maxlength="180" pattern="[A-Za-z]" required></textarea>
                </div>
            </div>
            <div class="form-group mb-4 mt-4 text-center">
                <button type="submit" class="btn btn-orange p-4" id="sendMessageButton">Send Message</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}