{% extends "layout/base.html" %}
{% block pagetitle %}
    <h2>Latest Skins</h2>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-lg-12 bg-dark mx-auto p-3 mt-4">
            <div class="row">
                {% for skin in skins %}
                    {% set skinname = skin.name %}
                    <div class="col-lg-3">
                        <div class="card">
                            <a href="#">
                                <img src="{{ skin.image_urls.factory_new }}" alt="">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}