@font-face {
  font-family: 'Gameplay';
  src: url('../fonts/Gameplay.eot');
  src: url('../fonts/Gameplay.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gameplay.woff2') format('woff2'),
    url('../fonts/Gameplay.woff') format('woff'),
    url('../fonts/Gameplay.ttf') format('truetype'),
    url('../fonts/Gameplay.svg#Gameplay') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gameovercre1';
  src: url('../fonts/gameovercre1.ttf');
}

:root {
  --site-dark: #131517;
  --site-orange: #ee7f00;
  --body-text-color: #EEFFEE;
  --orange-hover: #FFAE51;
  --orange-color-1: #fac491;
  --body-font: gameovercre1;
}

header, h1, h2, h3 {
  font-family: Gameplay;
}

body, main {
  font-family: var(--body-font);
  background-image: linear-gradient(white 1px, #ffffff00 1px),linear-gradient(to right, white 1px, #ffffff00 1px);
  background-color: var(--site-orange);
  background-size: 7.076vw 7.076vw;
}

body,
a,
p,
span {
  color: var(--body-text-color);
}

a:hover {
  color: var(--orange-hover) !important;
}

a.active {
  color: var(--orange-color-1) !important;
}

nav>ul.list-group.list-group-horizontal.justify-content-center>li, .mobile-nav > ul > li {
  background: var(--site-dark);
}

#copyright {
  font-family: gameovercre1;
}

.contraband {
  background: #e4ae39;
}

.covert {
  background: #eb4b4b;
}

.classified {
  background: #d32ce6;
}

.restricted {
  background: #8847ff;
}

.mil-spec-grade {
  background: #4b69ff;
}

.industrial-grade {
  background: #5e98d9;
}

.consumer-grade {
  background: #b0c3d9;
}

.extraordinary {
  background: #eb4b4b;
}

.input-bg-disabled {
  background: repeating-linear-gradient( 
    45deg
    , #000000, #000000 10px, #131517 10px, #131517 20px );
}

.btn-orange {
  background: var(--site-orange);
  color: var(--body-text-color);
}

.btn-orange:hover {
  background: var(--orange-hover);
}