@font-face {
  font-family: 'Gameplay';
  src: url('../fonts/Gameplay.eot');
  src: url('../fonts/Gameplay.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gameplay.woff2') format('woff2'),
    url('../fonts/Gameplay.woff') format('woff'),
    url('../fonts/Gameplay.ttf') format('truetype'),
    url('../fonts/Gameplay.svg#Gameplay') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gameovercre1';
  src: url('../fonts/gameovercre1.ttf');
}

:root {
  --site-dark: #131517;
  --site-orange: #ee7f00;
  --body-text-color: #EEFFEE;
  --orange-color-1: #fac491;
  --body-font: gameovercre1;
}

header, h1, h2, h3 {
  font-family: Gameplay;
}

body, main {
  font-family: var(--body-font);
  background-image: linear-gradient(white 1px, #ffffff00 1px),linear-gradient(to right, white 1px, #ffffff00 1px);
  background-color: var(--site-orange);
  background-size: 20vh 20vh;
}