{% extends 'layout/dashboard-base.html' %}
{% set active_page = "addskin" %}
{% block content %}
<meta id="weapons" data-weapons="{{ weapons }}">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">{{ page_title }}</h2>
</div>
<div class="accordion accordion-flush mt-5" id="accordionFlushExample">
  <div class="accordion-item bg-dark text-white">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
        data-bs-target="#add-weapon" aria-expanded="true" aria-controls="add-weapon">
        Add Weapon
      </button>
    </h2>
    <div id="add-weapon" class="accordion-collapse collapse" aria-labelledby="add-weapon" data-bs-parent="#add-weapon">
      <div class="accordion-body">
        <form id="weapon-skin-form" class="d-flex " method="post" validate>
          <div class="col-8">
            <label for="skin_name" class="label">Skin Name</label>
            <input type="text" placeholder="Skin Name" class="form-control bg-dark text-white rounded-0 mb-3"
              name="name" minlength="10" maxlength="35" required>
            <input type="text" placeholder="Skin Description" class="form-control bg-dark text-white rounded-0 mb-3"
              name="skin_description" minlength="20" maxlength="100" required>
            <select id="skin-weapon-type" class="form-select bg-dark text-white rounded-0 mb-3"
              placeholder="Weapon Type" name="weapon_type">
              {% for type in weaponTypes %}
              {% if not type == "Knife" %}
              {% if type == 'Machinegun' %}
              <option value="{{ type | replace('Machinegun', 'Heavy') }}">{{ type | replace('Machinegun', 'Heavy') |
                capitalize }}</option>
              {% elif type == 'Sniper Rifle' %}
              <option value="{{ type | replace(' ', '-') }}">{{ type | replace(' ', '-') }}</option>
              {% else %}
              <option value="{{ type }}">{{ type }}</option>
              {% endif %}
              {% endif %}
              {% endfor %}
            </select>
            <select id="skin-weapon-name" class="form-select bg-dark text-white rounded-0 mb-3"
              placeholder="Weapon Name" name="weapon_name">
            </select>
            <select placeholder="Rarity" class="form-select bg-dark text-white rounded-0 mb-3" name="rarity" required>
              {% for rarity in weaponRarities %}
              {% if not rarity == "Extraordinary" %}
              <option value="{{ rarity | lower }}">{{ rarity }}</option>
              {% endif %}
              {% endfor %}
            </select>
            <div class="invalid-feedback" id="invalid-error">

            </div>
            <table class="table table-dark table-striped">
              <thead>
                <tr>
                  <th scope="col" colspan="1">Conditions</th>
                  <th scope="col" colspan="1">Images</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="factory_new" id="factory_new">
                      <label class="form-check-label" for="factory_new">
                        Factory New
                      </label>
                    </div>
                  </th>
                  <td>
                    <div class="input-group mb-3">
                      <span class="input-group-text"
                        id="steamimageurl">https://community.cloudflare.steamstatic.com</span>
                      <input class="form-control bg-dark text-white input-bg-disabled"
                        placeholder="Factory New Icon URL" name="fnimage" type="text" aria-describedby="steamimageurl"
                        disabled>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="min_wear" id="min_wear">
                      <label class="form-check-label" for="min_wear">
                        Minimal Wear
                      </label>
                    </div>
                  </th>
                  </th>
                  <td>
                    <div class="input-group mb-3"><span class="input-group-text"
                        id="steamimageurl">https://community.cloudflare.steamstatic.com</span><input
                        class="form-control bg-dark text-white input-bg-disabled" placeholder="Minimal Wear Icon URL"
                        name="mwimage" type="text" disabled>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="field_tested" id="field_tested">
                      <label class="form-check-label" for="field_tested">
                        Field-Tested
                      </label>
                    </div>
                  </th>
                  <td>
                    <div class="input-group mb-3">
                      <span class="input-group-text"
                        id="steamimageurl">https://community.cloudflare.steamstatic.com</span><input
                        class="form-control bg-dark text-white input-bg-disabled" placeholder="Field Tested Icon URL"
                        name="ftimage" type="text" disabled>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="well_worn" id="well_worn">
                      <label class="form-check-label" for="well_worn">
                        Well-Worn
                      </label>
                    </div>
                  </th>
                  <td>
                    <div class="input-group mb-3"><span class="input-group-text"
                        id="steamimageurl">https://community.cloudflare.steamstatic.com</span><input
                        class="form-control bg-dark text-white input-bg-disabled" placeholder="Well-Worn Icon URL"
                        name="wwimage" type="text" disabled>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="battle_scarred" id="battle_scarred">
                      <label class="form-check-label" for="battle_scarred">
                        Battle-Scarred
                      </label>
                    </div>
                  </th>
                  <td>
                    <div class="input-group mb-3"><span class="input-group-text"
                        id="steamimageurl">https://community.cloudflare.steamstatic.com</span><input
                        class="form-control bg-dark text-white input-bg-disabled" placeholder="Battle-Scarred Icon URL"
                        name="bsimage" type="text" disabled>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <label for="release-date" class="label">Skin Release Date (Click)</label>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"><i class="fas fa-calendar-alt"></i></span>
              <input class="form-select" id="release-date" value="Pick A Date" name="release-date" required>
            </div>
            <div class="d-flex justfiy-content-center mt-3 border p-3">
              <strong>StatTrak / Souvenir</strong>
              <div class="form-check mx-3">
                <input class="form-check-input" type="radio" name="stat_or_souv" value="Neither" id="flexRadioDefault2"
                  required>
                <label class="form-check-label" for="flexRadioDefault2">
                  Neither
                </label>
              </div>
              <div class="form-check mx-3">
                <input class="form-check-input" type="radio" name="stat_or_souv" value="StatTrak" id="flexRadioDefault1"
                  required>
                <label class="form-check-label" for="flexRadioDefault1">
                  StatTrak
                </label>
              </div>
              <div class="form-check mx-3">
                <input class="form-check-input" type="radio" name="stat_or_souv" value="Souvenir" id="flexRadioDefault2"
                  required>
                <label class="form-check-label" for="flexRadioDefault2">
                  Souvenir
                </label>
              </div>
            </div>
          </div>
          <div class="col-4 text-center">
            <button type="submit" class="btn btn-orange p-5 mt-4">
              <i class="far fa-plus-square fs-4 align-middle"></i> Add Skin
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="accordion-item bg-dark text-white mt-5">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
      data-bs-target="#add-knife" aria-expanded="false" aria-controls="add-knife">
      Add Knife
    </button>
  </h2>
  <div id="add-knife" class="accordion-collapse collapse" aria-labelledby="add-knife" data-bs-parent="#add-knife">
    <div class="accordion-body">
      <form action="/insert/weapon-skin" class="d-flex flex-column flex-wrap justify-content-center mx-auto"
        method="post">
        <label for="skin_name" class="label">Skin Name</label>
        <input type="text" placeholder="Skin Name" class="form-control bg-dark text-white rounded-0 mb-3" name="name"
          required>
        <input type="text" placeholder="Skin Description" class="form-control bg-dark text-white rounded-0 mb-3"
          name="skin_description" required>
        <select class="form-select bg-dark text-white rounded-0 mb-3" placeholder="Weapon Type" name="weapon_type">
          {% for type in knifeTypes %}
          <option value="{{ type }}">{{ type }}</option>
          {% endfor %}
        </select>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col" colspan="4">Images</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Factory New</th>
              <td><input class="form-control bg-dark text-white" placeholder="Factory New Image URL" name="fnimage"
                  type="text" required></td>
            </tr>
            <tr>
              <th scope="row">Minimal Wear</th>
              <td><input class="form-control bg-dark text-white" placeholder="Minimal Wear Image URL" name="mwimage"
                  type="text" required></td>
            </tr>
            <tr>
              <th scope="row">Field-Tested</th>
              <td><input class="form-control bg-dark text-white" placeholder="Field Tested Image URL" name="ftimage"
                  type="text" required></td>
            </tr>
            <tr>
              <th scope="row">Well-Worn</th>
              <td><input class="form-control bg-dark text-white" placeholder="Well-Worn Image URL" name="wwimage"
                  type="text" required></td>
            </tr>
            <tr>
              <th scope="row">Battle-Scarred</th>
              <td><input class="form-control bg-dark text-white" placeholder="Battle-Scarred Image URL" name="bsimage"
                  type="text" required></td>
            </tr>
          </tbody>
        </table>
        <label for="release-date" class="label">Skin Release Date (Click the calendar icon)</label>
        <input class="col-2" type="date" id="release-date" name="release-date" value="2018-07-22" min="2013-01-01"
          max="2018-12-31">
        <div class="d-flex justfiy-content-center mt-3">
          <ul>
            <label class="label">Conditions</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Factory New
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Minimal Wear
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Field Tested
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Well Worn
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Battle Scarred
              </label>
            </div>

          </ul>
          <ul>
            <label class="label">StatTrak Conditions</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Factory New
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Minimal Wear
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Field Tested
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Well Worn
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Battle Scarred
              </label>
            </div>

          </ul>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="statorsouv" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            StatTrak
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="statorsouv" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Souvenir
          </label>
        </div>
        <button type="submit" class="btn btn-orange p-3 text-center">Add Skin</button>
      </form>
    </div>
  </div>
</div>
<div class="accordion-item bg-dark text-white mt-5">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
      data-bs-target="#add-gloves" aria-expanded="false" aria-controls="add-gloves">
      Add Gloves
    </button>
  </h2>
  <div id="add-gloves" class="accordion-collapse collapse" aria-labelledby="add-gloves" data-bs-parent="#add-gloves">
    <div class="accordion-body">
      <form action="/insert/gloves" class="d-flex flex-column flex-wrap justify-content-center mx-auto" method="post">
        <label for="name" class="label">Skin Name</label>
        <input type="text" placeholder="Skin Name" class="form-control bg-dark text-white rounded-0 mb-3" name="name"
          required>
        <input type="text" placeholder="Skin Description" class="form-control bg-dark text-white rounded-0 mb-3"
          name="skin_description" required>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col" colspan="4">Images</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Factory New</th>
              <td><input class="form-control bg-dark text-white" placeholder="Factory New Image URL" name="fnimage"
                  type="text" required></td>
            </tr>
            <tr>
              <th scope="row">Minimal Wear</th>
              <td><input class="form-control bg-dark text-white" placeholder="Minimal Wear Image URL" name="mwimage"
                  type="text" required></td>
            </tr>
            <tr>
              <th scope="row">Field-Tested</th>
              <td><input class="form-control bg-dark text-white" placeholder="Field Tested Image URL" name="ftimage"
                  type="text" required></td>
            </tr>
            <tr>
              <th scope="row">Well-Worn</th>
              <td><input class="form-control bg-dark text-white" placeholder="Well-Worn Image URL" name="wwimage"
                  type="text" required></td>
            </tr>
            <tr>
              <th scope="row">Battle-Scarred</th>
              <td><input class="form-control bg-dark text-white" placeholder="Battle-Scarred Image URL" name="bsimage"
                  type="text" required></td>
            </tr>
          </tbody>
        </table>
        <label for="release-date" class="label">Skin Release Date (Click the calendar icon)</label>
        <input class="col-2" type="date" id="release-date" name="release-date" value="2018-07-22" min="2013-01-01"
          max="2018-12-31">
        <div class="d-flex flex-column mt-3">
          <label class="label">Conditions</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Factory New
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Minimal Wear
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Field Tested
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Well Worn
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Battle Scarred
            </label>
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="statorsouv" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            StatTrak
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="statorsouv" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Souvenir
          </label>
        </div>
        <button type="submit" class="btn btn-primary p-3 w-50 mx-auto">Add Skin</button>
      </form>
    </div>
  </div>
</div>
<div class="accordion-item bg-dark text-white mt-5">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
      data-bs-target="#add-case" aria-expanded="false" aria-controls="add-case">
      Add Case
    </button>
  </h2>
  <div id="add-case" class="accordion-collapse collapse" aria-labelledby="add-case" data-bs-parent="#add-case">
    <div class="accordion-body">
      <form action="/insert/case" class="d-flex flex-column flex-wrap justify-content-center mx-auto" method="post">
        <label for="name" class="label">Skin Name</label>
        <input type="text" placeholder="Skin Name" class="form-control bg-dark text-white rounded-0 mb-3" name="name"
          required>
        <input type="text" placeholder="Skin Description" class="form-control bg-dark text-white rounded-0 mb-3"
          name="skin_description" required>
        <input class="form-control bg-dark text-white" placeholder="Image URL" name="fnimage" type="url" required>
        <label for="release-date" class="label">Skin Release Date (Click the calendar icon)</label>
        <input class="col-2" type="date" id="release-date" name="release-date" value="2018-07-22" min="2013-01-01"
          max="2018-12-31">
        <button type="submit" class="btn btn-primary p-3 w-50 mx-auto">Add Skin</button>
      </form>
    </div>
  </div>
</div>
<div class="accordion-item bg-dark text-white mt-5">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
      data-bs-target="#add-sticker" aria-expanded="false" aria-controls="add-sticker">
      Add Sticker
    </button>
  </h2>
  <div id="add-sticker" class="accordion-collapse collapse" aria-labelledby="add-sticker" data-bs-parent="#add-sticker">
    <div class="accordion-body">
      <form action="/insert/sticker" class="d-flex flex-column flex-wrap justify-content-center mx-auto" method="post">
        <label for="name" class="label">Skin Name</label>
        <input type="text" placeholder="Skin Name" class="form-control bg-dark text-white rounded-0 mb-3" name="name"
          required>
        <input type="text" placeholder="Skin Description" class="form-control bg-dark text-white rounded-0 mb-3"
          name="skin_description" required>
        <input class="form-control bg-dark text-white" placeholder="Image URL" name="image" type="url" required>
        <label for="release-date" class="label mt-4">Skin Release Date (Click the calendar icon)</label>
        <input class="col-2" type="date" id="release-date" name="release-date" value="2018-07-22" min="2013-01-01"
          max="2018-12-31">
        <button type="submit" class="btn btn-primary p-3 w-50 mx-auto">Add Skin</button>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}