{% extends "layout/base.html" %}
{% block pagetitle %}
    <h2>{{ page_title }}</h2>
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
	    {% if messages %}
            <div class="error-message bg-danger p-4 text-center">
				{% for message in messages %}
					<strong class="fs-4">{{ message }}</strong>
				{% endfor %}
            </div>
		{% endif %}
	{% endwith %}
    <div class="bg-dark">
        {% if login %}
            <p class="text-center pt-3 fs-3">Not Registered? <a href="{{ url_for('signup') }}">Sign Up</a></p>
            {% include 'components/login.html' %}
        {% else %}
            <p class="text-center pt-3 fs-5">Already Registered? <a href="{{ url_for('login') }}">Login</a></p>
            {% include 'components/signup.html' %}
        {% endif %}
    </div>
{% endblock %}