{% extends 'layout/dashboard-base.html' %}
{% set active_page = "Deleteskin" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">{{ page_title }}</h2>
</div>
<div class="accordion accordion-flush mt-5" id="accordionFlushExample">
    <div class="accordion-item bg-dark text-white">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
                data-bs-target="#Delete-weapon" {% if foundSkins %} aria-expanded="false" {% else %} aria-expanded="true"
                {% endif %} aria-controls="Delete-weapon">
                Delete Weapon
            </button>
        </h2>
        <div id="Delete-weapon" class="accordion-collapse collapse {% if foundSkins %} show {% endif %}"
            aria-labelledby="Delete-weapon" data-bs-parent="#Delete-weapon">
            <div class="accordion-body row">
                <div class="input-group">
                    <form class="form-control d-flex bg-dark p-3" action="/get/skin" method="GET">
                        <input class="form-control" id="searchSkin" name="searchskin" placeholder="Enter the Skin Name"
                            aria-label="Example select with button addon">
                        <button class="btn btn-orange px-5 pt-3 pb-3" type="submit"><i
                                class="fas fa-search text-white fs-4"></i></button>
                    </form>
                </div>
                {% if foundSkins %}
                <div class="col-12">
                   Skins Found:
                </div>
                {% for skin in foundSkins %}
                {% set skin_id = skin._id %}
                <div class="col-lg-3 col-sm-6 mb-2">
                    <div class="card border bg-dark">
                        <a href="{{ url_for('delete_selected_skin', skin_id=skin_id )}}">
                            {% if skin.image_urls.factory_new is not none %}
                            <img src="{{ skin.image_urls.factory_new }}" class="card-img-top"
                                alt="{{ skin.name }} image">
                            {% else %}
                            <img src="{{ skin.image_urls.min_wear }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% endif %}
                        </a>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-white border bg-dark">
                                    {{ skin.name }}
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p class="{{ skin.rarity | replace(' ', '-') | lower }} text-center p-2">{{
                                        skin.rarity }}</p>
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p>{{ skin.skin_description }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="accordion-item bg-dark text-white mt-5">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
                data-bs-target="#Delete-knife" aria-expanded="false" aria-controls="Delete-knife">
                Delete Knife
            </button>
        </h2>
        <div id="Delete-knife" class="accordion-collapse collapse" aria-labelledby="Delete-knife"
            data-bs-parent="#Delete-knife">
            <div class="accordion-body">
            </div>
        </div>
    </div>
    <div class="accordion-item bg-dark text-white mt-5">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
                data-bs-target="#Delete-gloves" aria-expanded="false" aria-controls="Delete-gloves">
                Delete Gloves
            </button>
        </h2>
        <div id="Delete-gloves" class="accordion-collapse collapse" aria-labelledby="Delete-gloves"
            data-bs-parent="#Delete-gloves">
            <div class="accordion-body">
            </div>
        </div>
    </div>
    <div class="accordion-item bg-dark text-white mt-5">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
                data-bs-target="#Delete-case" aria-expanded="false" aria-controls="Delete-case">
                Delete Case
            </button>
        </h2>
        <div id="Delete-case" class="accordion-collapse collapse" aria-labelledby="Delete-case" data-bs-parent="#Delete-case">
            <div class="accordion-body">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}