{% extends 'layout/dashboard-base.html' %}
{% set active_page = "editskin" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">{{ page_title }}</h2>
</div>
<div class="accordion accordion-flush mt-5" id="accordionFlushExample">
    <div class="accordion-item bg-dark text-white">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
                data-bs-target="#Edit-weapon" {% if foundSkins %} aria-expanded="false" {% else %} aria-expanded="true"
                {% endif %} aria-controls="Edit-weapon">
                Edit Weapon
            </button>
        </h2>
        <div id="Edit-weapon" class="accordion-collapse collapse {% if foundSkins %} show {% endif %}"
            aria-labelledby="Edit-weapon" data-bs-parent="#Edit-weapon">
            <div class="accordion-body row">
                <div class="input-group">
                    <form class="form-control d-flex bg-dark p-3" action="/get/skin" method="GET">
                        <input class="form-control" id="searchWeaponSkin" name="searchweaponskin" placeholder="Enter the Skin Name"
                            aria-label="Example select with button addon">
                        <button class="btn btn-orange px-5 pt-3 pb-3" type="submit"><i
                                class="fas fa-search text-white fs-4"></i></button>
                    </form>
                </div>
                {% if foundSkins %}
                <div class="col-12">
                   {{ foundSkins.count() }} Skins Found:
                </div>
                {% for skin in foundSkins %}
                {% set skin_id = skin._id %}
                <div class="col-lg-3 col-sm-6 mb-2">
                    <div class="card border bg-dark">
                        <a href="{{ url_for('edit_selected_skin', skin_type='weapon', skin_id=skin_id )}}" class="btn btn-secondary">
                            {% if skin.image_urls.factory_new is not none %}
                            <img src="{{ skin.image_urls.factory_new }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.min_wear is not none %}
                            <img src="{{ skin.image_urls.min_wear }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.field_tested is not none %}
                            <img src="{{ skin.image_urls.field_tested }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.well_worn is not none %}
                            <img src="{{ skin.image_urls.well_worn }}" class="img-fluid" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.battle_scarred is not none %}
                            <img src="{{ skin.image_urls.battle_scarred }}" class="img-fluid" alt="{{ skin.name }} image">
                            {% else %}
                            Edit Skin
                            {% endif %}
                        </a>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-white border bg-dark">
                                    {{ skin.name }}
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p class="{{ skin.rarity | replace(' ', '-') | lower }} text-center p-2">{{
                                        skin.rarity }}</p>
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p>{{ skin.skin_description }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="accordion-item bg-dark text-white mt-5">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
                data-bs-target="#edit-knife" {% if foundKnifes %} aria-expanded="false" {% else %} aria-expanded="true"
                {% endif %} aria-controls="edit-knife">
                Edit Knife
            </button>
        </h2>
        <div id="edit-knife" class="accordion-collapse collapse {% if foundKnifes %} show {% endif %}"
            aria-labelledby="edit-knife" data-bs-parent="#edit-knife">
            <div class="accordion-body row">
                <div class="input-group">
                    <form class="form-control d-flex bg-dark p-3" action="/get/skin" method="GET">
                        <input class="form-control" id="searchknifes" name="searchknifes" placeholder="Enter the Knife Name"
                            aria-label="Example select with button addon">
                        <button class="btn btn-orange px-5 pt-3 pb-3" type="submit"><i
                                class="fas fa-search text-white fs-4"></i></button>
                    </form>
                </div>
                {% if foundKnifes %}
                <div class="col-12">
                    {{ foundKnifes.count() }} Skins Found:
                </div>
                {% for skin in foundKnifes %}
                {% set skin_id = skin._id %}
                <div class="col-lg-3 col-sm-6 mb-2">
                    <div class="card border bg-dark">
                        <a href="{{ url_for('edit_selected_skin', skin_type='knife', skin_id=skin_id )}}" class="btn btn-secondary">
                            {% if skin.image_urls.factory_new is not none %}
                            <img src="{{ skin.image_urls.factory_new }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.min_wear is not none %}
                            <img src="{{ skin.image_urls.min_wear }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.field_tested is not none %}
                            <img src="{{ skin.image_urls.field_tested }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.well_worn is not none %}
                            <img src="{{ skin.image_urls.well_worn }}" class="img-fluid" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.battle_scarred is not none %}
                            <img src="{{ skin.image_urls.battle_scarred }}" class="img-fluid" alt="{{ skin.name }} image">
                            {% else %}
                            Edit Skin
                            {% endif %}
                        </a>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-white border bg-dark">
                                    {{ skin.name }}
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p class="{{ skin.rarity | replace(' ', '-') | lower }} text-center p-2">{{
                                        skin.rarity }}</p>
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p>{{ skin.skin_description }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="accordion-item bg-dark text-white mt-5">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
                data-bs-target="#Edit-gloves" {% if foundGloves %} aria-expanded="false" {% else %} aria-expanded="true"
                {% endif %} aria-controls="Edit-gloves">
                Edit Gloves
            </button>
        </h2>
        <div id="edit-gloves" class="accordion-collapse collapse {% if foundGloves %} show {% endif %}" aria-labelledby="edit-gloves"
            data-bs-parent="#edit-gloves">
            <div class="accordion-body row">
                <form class="form-control d-flex bg-dark p-3" action="/get/skin" method="GET">
                    <input class="form-control" id="searchgloves" name="searchgloves" placeholder="Enter the Gloves Name"
                        aria-label="Example select with button addon">
                    <button class="btn btn-orange px-5 pt-3 pb-3" type="submit"><i
                            class="fas fa-search text-white fs-4"></i></button>
                </form>
                {% if foundGloves %}
                <div class="col-12">
                    {{ foundGloves.count() }} Skins Found:
                </div>
                {% for skin in foundGloves %}
                {% set skin_id = skin._id %}
                <div class="col-lg-3 col-sm-6 mb-2">
                    <div class="card border bg-dark">
                        <a href="{{ url_for('edit_selected_skin', skin_type='gloves', skin_id=skin_id )}}" class="btn btn-secondary">
                            {% if skin.image_urls.factory_new is not none %}
                            <img src="{{ skin.image_urls.factory_new }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.min_wear is not none %}
                            <img src="{{ skin.image_urls.min_wear }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.field_tested is not none %}
                            <img src="{{ skin.image_urls.field_tested }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.well_worn is not none %}
                            <img src="{{ skin.image_urls.well_worn }}" class="img-fluid" alt="{{ skin.name }} image">
                            {% elif skin.image_urls.battle_scarred is not none %}
                            <img src="{{ skin.image_urls.battle_scarred }}" class="img-fluid" alt="{{ skin.name }} image">
                            {% else %}
                            Edit Skin
                            {% endif %}
                        </a>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-white border bg-dark">
                                    {{ skin.name }}
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p class="{{ skin.rarity | replace(' ', '-') | lower }} text-center p-2">{{
                                        skin.rarity }}</p>
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p>{{ skin.skin_description }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="accordion-item bg-dark text-white mt-5">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
                data-bs-target="#edit-case" {% if foundCases %} aria-expanded="false" {% else %} aria-expanded="true"
                {% endif %} aria-controls="edit-case">
                Edit Case
            </button>
        </h2>
        <div id="edit-case" class="accordion-collapse collapse {% if foundCases %} show {% endif %}" aria-labelledby="edit-case" data-bs-parent="#edit-case">
            <div class="accordion-body row">
                <form class="form-control d-flex bg-dark p-3" action="/get/skin" method="GET">
                    <input class="form-control" id="searchcases" name="searchcases" placeholder="Enter the Case Name"
                        aria-label="Search for cases">
                    <button class="btn btn-orange px-5 pt-3 pb-3" type="submit"><i
                            class="fas fa-search text-white fs-4"></i></button>
                </form>
                {% if foundCases %}
                <div class="col-12">
                    {{ foundCases.count() }} Skins Found:
                </div>
                {% for skin in foundCases %}
                {% set skin_id = skin._id %}
                <div class="col-lg-3 col-sm-6 mb-2">
                    <div class="card border bg-dark">
                        <a href="{{ url_for('edit_selected_skin', skin_type='case', skin_id=skin_id )}}" class="btn btn-secondary">
                            {% if skin.image_url is not none %}
                            <img src="{{ skin.image_url }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% else %}
                            Edit Skin
                            {% endif %}
                        </a>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-white border bg-dark">
                                    {{ skin.name }}
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p>Skin Released: {{ skin.relase_date }}</p>
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p>{{ skin.skin_description }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="accordion-item bg-dark text-white mt-5">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-white border" type="button" data-bs-toggle="collapse"
                data-bs-target="#edit-sticker" {% if foundStickers %} aria-expanded="false" {% else %} aria-expanded="true"
                {% endif %} aria-controls="edit-sticker">
                Edit Sticker
            </button>
        </h2>
        <div id="edit-sticker" class="accordion-collapse collapse {% if foundStickers %} show {% endif %}" aria-labelledby="edit-sticker" data-bs-parent="#edit-sticker">
            <div class="accordion-body row">
                <form class="form-control d-flex bg-dark p-3" action="/get/skin" method="GET">
                    <input class="form-control" id="searchstickers" name="searchstickers" placeholder="Enter the Sticker Name"
                        aria-label="Example select with button addon">
                    <button class="btn btn-orange px-5 pt-3 pb-3" type="submit"><i
                            class="fas fa-search text-white fs-4"></i></button>
                </form>
                {% if foundStickers %}
                <div class="col-12">
                    {{ foundStickers.count() }} Skins Found:
                </div>
                {% for skin in foundStickers %}
                {% set skin_id = skin._id %}
                <div class="col-lg-3 col-sm-6 mb-2">
                    <div class="card border bg-dark">
                        <a href="{{ url_for('edit_selected_skin', skin_type='sticker', skin_id=skin_id )}}" class="btn btn-secondary">
                            {% if skin.image_url is not none %}
                            <img src="{{ skin.image_url }}" class="card-img-top" alt="{{ skin.name }} image">
                            {% else %}
                            Edit Skin
                            {% endif %}
                        </a>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-white border bg-dark">
                                    {{ skin.name }}
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p class="{{ skin.rarity | replace(' ', '-') | lower }} text-center p-2">{{
                                        skin.rarity }}</p>
                                </li>
                                <li class="list-group-item text-white bg-dark">
                                    <p>{{ skin.skin_description }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}