<form method="POST" class="bg-dark col-9 mx-auto" id="contactForm">
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label for="username" class="label">Username:</label>
            <input type="text" id="username" minlength="4" maxlength="30" class="form-control mb-4 rounded-0" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Username" name="username" required>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label for="password" class="label">Password:</label>
            <input type="password" id="password" class="form-control mb-4 rounded-0" placeholder="Password" name="password" required>
        </div>
    </div>
    <button type="submit" name="button" class="btn btn-orange mt-4 p-3 w-100" id="formSubmit">Log In</button>
</form>
