<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white {% if active_page == "dashboard" %} active {% endif %}" href="{{ url_for('admin') }}" aria-current="page" href="#">
                    <i class="fas fa-users-cog"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('index') }}">
                    <i class="fas fa-home"></i>
                    Home
                </a>
            </li>
            <h6
                class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 pb-2 text-white border-bottom">
                Pages
                <i class="fas fa-link"></i>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('pistols') }}">
                        Pistols
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('rifles') }}">
                        Rifles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('sniper_rifles') }}">
                        Sniper Rifles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('smgs') }}">
                        Smgs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('shotguns') }}">
                        Shotguns
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('heavies') }}">
                        Heavy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('knives') }}">
                        Knives
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('gloves') }}">
                        Gloves
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('cases') }}">
                        Cases
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('stickers') }}">
                        Stickers
                    </a>
                </li>
            </ul>
            <h6
                class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 pb-2 text-white border-bottom">
                Skins
                <i class="fas fa-database"></i>
            </h6>
            <li class="nav-item">
                <a class="nav-link text-white {% if active_page == "view_skins" %} active {% endif %}" href="{{ url_for('view_skins') }}">
                    <i class="fas fa-book-open"></i>
                    View Skins
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white {% if active_page == "addskin" %} active {% endif %}" href="{{ url_for('add_skin') }}">
                    <i class="far fa-plus-square"></i>
                    Create A Skin
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white {% if active_page == "editskin" or active_page == "edit-selected-skin" %} active {% endif %}" href="{{ url_for('edit_skin') }}">
                    <i class="fas fa-pencil-alt"></i>
                    Edit A Skin
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('delete_skin') }}">
                    <i class="far fa-trash-alt"></i>
                    Delete A Skin
                </a>
            </li>

        <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 pb-2 text-white border-bottom">
            Users
            <i class="fas fa-user-alt"></i>
        </h6>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fas fa-pencil-alt"></i>
                    Update User Details
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="far fa-trash-alt"></i>
                    Delete A User
                </a>
            </li>
        </ul>

    </div>
</nav>