<footer class="bg-dark">
    <div class="d-flex flex-wrap justify-content-around align-items-center">
        <p class="copyright">Copyright &copy; CSGO: Skinfo <span id="copyright"></span></strong>
        <ul class="list-unstyled list-group-horizontal list-group text-center">
        <li class="list-group-item bg-dark border-0"><a class="fs-1" href="https://www.facebook.com/profile.php?id=100001365572958"><i
                class="fab fa-facebook-square"></i></a></li>
        <li class="list-group-item bg-dark border-0"><a class="fs-1" href="https://www.linkedin.com/in/bradley-playdon/"><i
                class="fab fa-linkedin"></i></a></li>
        <li class="list-group-item bg-dark border-0"><a class="fs-1" href="https://twitter.com/mynamesbradley"><i
                class="fab fa-twitter-square"></i></a></li>
        <li class="list-group-item bg-dark border-0"><a class="fs-1" href="https://www.instagram.com/brad_webp/"><i
                class="fab fa-instagram"></i></a></li>
        <li class="list-group-item bg-dark border-0"><a class="fs-1" href="https://github.com/bradleyplaydon"><i
                class="fab fa-github"></i></a></li>
        </ul>
    </div>
    </div>
</footer>