<footer class="mt-auto mx-lg-0 bg-dark" style="z-index: 2;">
        <div class="d-flex flex-wrap justify-content-between align-items-center px-4 py-2">
                <p class="copyright">Copyright &copy; CSGO: Skinfo <span id="copyright"></span></strong>
                <ul class="list-unstyled list-group-horizontal list-group text-center">
                        <li class="list-group-item bg-dark border-0"><a class="fs-1"
                                        href="https://www.facebook.com/profile.php?id=100001365572958"
                                        target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                        <li class="list-group-item bg-dark border-0"><a class="fs-1"
                                        href="https://www.linkedin.com/in/bradley-playdon/" target="_blank"><i
                                                class="fab fa-linkedin"></i></a></li>
                        <li class="list-group-item bg-dark border-0"><a class="fs-1"
                                        href="https://twitter.com/mynamesbradley" target="_blank"><i
                                                class="fab fa-twitter-square"></i></a></li>
                        <li class="list-group-item bg-dark border-0"><a class="fs-1"
                                        href="https://www.instagram.com/brad_webp/" target="_blank"><i
                                                class="fab fa-instagram"></i></a></li>
                        <li class="list-group-item bg-dark border-0"><a class="fs-1"
                                        href="https://github.com/bradleyplaydon" target="_blank"><i
                                                class="fab fa-github"></i></a></li>
                </ul>
        </div>
</footer>