<link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' )}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='slick/slick.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='slick/slick-theme.css') }}" type="text/css"/>