<header class="sticky-top w-100">
    <nav class="navbar d-none d-lg-block d-md-block">
        <div class="container-fluid px-4 bg-dark p-1">
            <a href="{{ url_for('index') }}" class="navbar-brand bg-dark">CSGO: Skinfo</a>
            <ul class="list-group list-group-horizontal justify-content-center">
                <li class="list-group p-3"><a href="#">About</a></li>
                <li class="list-group p-3"><a href="#">Contact</a></li>
                {% if session.user %}
                <li class="list-group p-3"><a href="{{ url_for('account', username=session['user'].username) }}">Account</a></li>
                {% if session.user["is_admin"] %}
                <li class="list-group p-3"><a href="{{ url_for('admin', username=session['user'].username) }}">Admin</a></li>
                {% endif %}
                <li class="list-group p-3"><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li class="list-group p-3"><a href="{{ url_for('login') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item p-3"><a href="{{ url_for('index') }}" class="active">HOME</a></li>
            <li class="list-group-item p-3"><a href="#">PISTOLS</a></li>
            <li class="list-group-item p-3"><a href="#">RIFLES</a></li>
            <li class="list-group-item p-3"><a href="#">SMGs</a></li>
            <li class="list-group-item p-3"><a href="#">SHOTGUNS</a></li>
            <li class="list-group-item p-3"><a href="#">HEAVY</a></li>
            <li class="list-group-item p-3"><a href="#">KNIVES</a></li>
            <li class="list-group-item p-3"><a href="#">GLOVES</a></li>
            <li class="list-group-item p-3"><a href="#">CASES</a></li>
            <li class="list-group-item p-3"><a href="#">STICKERS</a></li>
        </ul>
    </nav>
    <nav class="navbar d-lg-none d-md-block bg-dark mobile-nav">
        <div class="container-fluid px-2 text-center">
            <div class="col-3">
                <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target="#mobile-nav"
                    aria-expanded="false" aria-controls="mobile-nav"><i class="fas fa-bars fs-1 text-white"></i></button>
            </div>
            <div class="col-6">
                <a href="#" class="navbar-brand">CSGO: Skinfo</a>
            </div>
            <div class="col-3">
                {% if session.user %}
                    <a href="{{ url_for('account', username=session['user'].username) }}" class="mx-md-4 mx-sm-3"><i class="fas fa-user-alt fs-1"></i></a>
                    <a href="{{ url_for('logout', username=session['user'].username) }}"><i class="fas fa-sign-out-alt fs-1"></i></a>
                {% if isAdmin %}
                    <li class="list-group p-3"><a href="{{ url_for('admin', username=session['user'].username) }}">Admin</a></li>
                {% endif %}
                {% else %}
                    <li class="list-group p-3"><a href="{{ url_for('login') }}"><i class="fas fa-user-alt"></i></a></li>
                {% endif %}
            </div>
        </div>
    </nav>
    <div id="mobile-nav" class="collapse position-absolute w-100 bg-dark">
        <ul class="list-unstyled list-group text-center">
            <li class="list-group-item p-3"><a href="{{ url_for('index') }}" class="active">HOME</a></li>
            <li class="list-group-item p-3"><a href="{{ url_for('pistols') }}">PISTOLS</a></li>
            <li class="list-group-item p-3"><a href="{{ url_for('rifles') }}">RIFLES</a></li>
            <li class="list-group-item p-3"><a href="{{ url_for('smgs') }}">SMGs</a></li>
            <li class="list-group-item p-3"><a href="{{ url_for('shotguns') }}">SHOTGUNS</a></li>
            <li class="list-group-item p-3"><a href="{{ url_for('heavies') }}">HEAVY</a></li>
            <li class="list-group-item p-3"><a href="{{ url_for('knives') }}">KNIVES</a></li>
            <li class="list-group-item p-3"><a href="{{ url_for('cases') }}">CASES</a></li>
            <li class="list-group-item p-3"><a href="{{ url_for('stickers') }}">STICKERS</a></li>
        </ul>
    </div>
</header>