<header class="sticky-top w-100">
    <!-- Navbar -->
    <nav class="navbar d-none d-lg-block d-md-block">
        <div class="container-fluid px-4 bg-dark p-1">
            <a href="#" class="navbar-brand bg-dark">CSGO: Skinfo</a>
            <ul class="list-group list-group-horizontal justify-content-center">
                <li class="list-group p-3"><a href="#">About</a></li>
                <li class="list-group p-3"><a href="#">Contact</a></li>
                {% if session.user %}
                <li class="list-group p-3"><a href="{{ url_for('account', username=session['user'].username) }}">Account</a></li>
                <li class="list-group p-3"><a href="#">Log Out</a></li>
                <li class="list-group p-3"><a href="#">Admin</a></li>
                {% endif %}
                <li class="list-group p-3"><a href="#">Sign In</a></li>
            </ul>
        </div>
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item p-3"><a href="#" class="active">HOME</a></li>
            <li class="list-group-item p-3"><a href="#">PISTOLS</a></li>
            <li class="list-group-item p-3"><a href="#">RIFLES</a></li>
            <li class="list-group-item p-3"><a href="#">SMGs</a></li>
            <li class="list-group-item p-3"><a href="#">SHOTGUNS</a></li>
            <li class="list-group-item p-3"><a href="#">HEAVY</a></li>
            <li class="list-group-item p-3"><a href="#">KNIVES</a></li>
            <li class="list-group-item p-3"><a href="#">GLOVES</a></li>
            <li class="list-group-item p-3"><a href="#">CASES</a></li>
            <li class="list-group-item p-3"><a href="#">STICKERS</a></li>
            <li class="list-group-item p-3 dropdown">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  OTHER
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">AGENTS</a></li>
                  <li><a class="dropdown-item" href="#">MUSIC KITS</a></li>
                  <li><a class="dropdown-item" href="#">COLLECTIBLES</a></li>
                  <li><a class="dropdown-item" href="#">GRAFFITIS</a></li>
                </ul>
              </li>
        </ul>
    </nav>
</header>